/* HOMEPAGE STYLE

html {
  background-color: red;
}

*/


/* GLOBAL STYLES */
/* body {
  height: 800px
}*/ 

a {
  color: #f00;
}
h2 {
  font-size: 30px;
}


/* SOCIAL STYLES */
.social-link {
  background-color: rgba(150, 150, 150, 0.5);
  color: blue;
}

/* BIO STYLES */

.bio-wrapper {
/*  width: 500px;*/
}
.bio-box {
  border: 1px solid black;
  width: 50%;
}
.bio-copy a {
  color: green;
}
